src/test/resources/wsdl/calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://tempuri.org/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://tempuri.org/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:element name="Add">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="intA" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="intB" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="AddResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Subtract">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="intA" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="intB" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SubtractResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="SubtractResult" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="AddSoapIn">
		<wsdl:part name="parameters" element="tns:Add" />
	</wsdl:message>
	<wsdl:message name="AddSoapOut">
		<wsdl:part name="parameters" element="tns:AddResponse" />
	</wsdl:message>
	<wsdl:message name="SubtractSoapIn">
		<wsdl:part name="parameters" element="tns:Subtract" />
	</wsdl:message>
	<wsdl:message name="SubtractSoapOut">
		<wsdl:part name="parameters" element="tns:SubtractResponse" />
	</wsdl:message>
	<wsdl:portType name="CalculatorSoap">
		<wsdl:operation name="Add">
			<wsdl:documentation>Adds two integers.</wsdl:documentation>
			<wsdl:input message="tns:AddSoapIn" />
			<wsdl:output message="tns:AddSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="Subtract">
			<wsdl:documentation>Subtracts two integers.</wsdl:documentation>
			<wsdl:input message="tns:SubtractSoapIn" />
			<wsdl:output message="tns:SubtractSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalculatorSoap" type="tns:CalculatorSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Add">
			<soap:operation soapAction="http://tempuri.org/Add" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Subtract">
			<soap:operation soapAction="http://tempuri.org/Subtract" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Calculator">
		<wsdl:port name="CalculatorSoap" binding="tns:CalculatorSoap">
			<soap:address location="http://localhost:8080/calculator" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>